.slide-image{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 0px;
}
.slide-full{
    height: 100% !important;
}
.card{
    overflow: unset !important;
    height: 450px;
    width: 300px;
}
.card-header{
    background-color: rgba(222,222, 222, 0.5);
}
.redonda{
height: 200px;
width: 250px;
display: block;
margin: auto;


}
.cardheader{
    background-color: rgba(228, 24, 24, 0.5);
}