.map{
    width: 100px !important;
    height: 100vh !important;
    
}
#map { position: absolute; top: 0; bottom: 0; width: 100%; }

.itab{
    background-color: rgba($color: #fcf9f9, $alpha: 0.1);
}